<%= form_with model: @user, url: user_session_path, local: true do |f| %>
<h1>ログインページ</h1>

  <label>メールアドレス</label>
  <span class="indispensable">必須</span>
  <%= f.email_field :email %>

  <label>パスワード</label>
  <span class="indispensable">必須</span>
  <%= f.password_field :password%>

  <%= f.submit "ログイン"%>
<% end %>