<%= render "header"%>
<div class ="main">
  <h1>Posts#index</h1>
  <p>Find me in app/views/posts/index.html.erb</p>
  <div class="btn">
    <a href="#">テーブル</a>
    <a href="#">グリル</a>
    <a href="#">チェア</a>
    <a href="#">テント</a>
  </div>
  <div>
    <span class="">投稿する</span>
    <a href="#">
      <%= image_tag ''%>
    </a>
  </div>
</div>