<%= render "header"%>
<div class ="main">
  <h1>メイン画面</h1>
  <p>Find me in app/views/posts/index.html.erb</p>
  <div class="btn">
    <a href="#">テーブル</a>
    <a href="#">グリル</a>
    <a href="#">チェア</a>
    <a href="#">テント</a>
  </div>

   <%# 投稿する %>
   <div class='post-btn'>
    <a href="/posts/new">
      <span class="mozi">投稿する！</span>
      <%#= image_tag 'toukou.jpg', size: '140x50'%>
   </div>
   <%# 投稿する %>
    </a>
    
</div>