  <h1>詳細ページ</h1>
      <% if @post.image.attached? %>
        <%= image_tag @post.image.variant(resize:'300x300')  %>
      <% end %>
      <%= @post.name %>
      <%= @post.description %>
      <span><%= @post.price %>円</span>
  