<h1>てーぶるぺーじ</h1>
  <% @posts.each do |post| %>
      <%= link_to posts_path(post.id), method: :get do %>
        <%= image_tag post.image.variant(resize:'300x300') if post.image.attached? %>
      <% end %>
      <h2>
      <%= post.name %>
      </h2>
      <span><%= post.price %>円</span>
  <% end %>