.main {
  background: #008000;
}

.btn a {
  border: 1px solid lightblue;
  padding: 14px;
  margin: 20px;
  color: deepskyblue;
  text-decoration: none;
  text-align: center;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}